<div class="author-credit-card">
  <div class="author-credit-title">This page was created by Aira Franco</div>
  <div>
    <strong>GitHub Profile:</strong>
    <a class="author-credit-link" href="https://github.com/Akina-Aoki" target="_blank" rel="noopener noreferrer">
      https://github.com/Akina-Aoki
    </a>
  </div>
  <div>
    <strong>LinkedIn:</strong>
    <a class="author-credit-link" href="https://www.linkedin.com/in/aira-franco0965/" target="_blank" rel="noopener noreferrer">
      https://www.linkedin.com/in/aira-franco0965/
    </a>
  </div>
</div>